# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/
/<%= appSlug %>-backend

# Test binary
*.test

# Output
*.out

# Go workspace
go.work

# Environment
.env
.env.local

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store

# Logs
*.log
